<!-- <br>
<div class="container-fluid d-flex ">
<img src="../../assets/steth.jpg" class="img-circle" alt="Cinque Terre" width="200px">
<div class="row">
    <div class="col"></div>
<h1>MEDICO MEDICAL CENTRE AND HOSPITAL</h1></div>
<div class="col">
    <hr/>
    <p class="para">“In the best care at this world-class hospital.”</p>
</div>  
</div> -->
<app-header></app-header>
    
<br>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">MEDICO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/homepage" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="flaguser">
          <a class="nav-link active" routerLink="/appointment" routerLinkActive="active">Book Appointment</a>
        </li>
        <li class="nav-item" *ngIf="flag">
          <a class="nav-link active" routerLink="/request" routerLinkActive="active">View Appointments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/login" routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <div class="container" id="img">
    <h2>Hospital</h2>
</div>
<br>

<section class="container-fluid">
    <nav style="width: 100%; background: #2e718e; ">
       <h4>Search</h4>
       <br>
        </nav>
<img src="../../assets/directory-top-bg.svg" style="width: 96.9%; background-color: #2e718ef5; position: absolute; height: 30%;">
<div class="text-center position-relative">
    <h3 class="mt-5">Best Doctors in MEDICO</h3>
    <br>
<div class="d-flex  justify-content-center">
    <div class="d-flex mt-3 " style="background-color: white; width: 60%; border-radius: 20px;  height: 6vh;">
        <i class="fas fa-search mt-3 mx-5  "></i>
        <input type="text" [(ngModel)]="specialization" placeholder="Enter specialization" class="mt-1 mx-5" placeholder="Search by: Specialization of the doctors, disease, symptoms and treatments" style="font-size: 15px;width: 100%; border: none;">
<button (click)="search()" class="btn btn-info mx-5">Search</button>

      </div>
</div>

</div>
</section>
<br><br><br><br><br><br><br><br><br><br><br><br>
<!-- <div class="card-columns" >
  <div class="card row" *ngFor="let doctor of doctors">
    <div class="col-xs-12 col-sm-2">
      <img [src]="doctor.image" class="card-img-top" alt="Doctor Image">
    </div>
    <div class="col">
    <div class="card-body">
      <h5 class="card-title">{{ doctor.name }}</h5>
      <p class="card-text">Email: {{ doctor.email }}</p>
      <p class="card-text">Experience: {{ doctor.experience }}</p>
      <p class="card-text">Specialization: {{ doctor.specialization_name }}</p>
    </div>
  </div>
  </div>
</div> -->
<div class="d-flex justify-content-center align-items-center border border-grey mb-5  w-50" style="margin-left: 20%;" *ngFor="let doctor of doctors">
  <div class=" d-flex flex-column align-self-normal align-items-center p-2 py-4 p-sm-3 border-end ">
   <figure class="mb-2">
    <img class="card-img-top" [src]="doctor.image" alt="Doctor Image" alt="Doctor Image" width="200" height="">
     </figure>
  </div>
  <div class="d-lg-flex pb-4 pb-lg-0 py-5 equal-columns " >
    <div class="pt-4 pb-3 px-3 px-md-2 px-lg-4 px-xl-4 pb-lg-4 py-5" >
      <h3 style="color: black;">{{ doctor.name }}</h3>
      <div class="spec-group mt-1" style="font-weight: 100;">
        <p>{{ doctor.specialization_name }}
        <span class="mx-2">|</span>
        {{ doctor.experience }}yrs
      </p>
      </div>
      <hr class="mx-1 mt-1" style="width: 110%;">
      <div class="fst-normal d-flex align-items-start" >
        <i class="fas fa-envelope me-2 align-self-start"></i>
<span>{{doctor.email}}</span>
      </div>
<br>
      <div class="d-flex align-items-center pb-3">
        <i class="fas fa-university scroll me-1"></i>
        <span>{{doctor.degree}}</span>
      </div>
    </div>
  </div>
  <div class="d-flex flex-lg-column justify-content-center-lg-center text-lg-center px-1 px-md-4 p-lg-4">
    <p class="mb-2">
      <strong class="d-lg-block ms-2 ms-lg-0">
        <span class="icon-clock pull-left">
          <div class="ml-2">
            <h4 class="text-warning">MON-FRI</h4>
            <p class="text-info mx-3">(09:00 AM - 04:00 PM)</p>
          </div>
        </span>
      </strong>
    </p>
    <button class="btn btn-dark btn-rounded" style="font-size: 15px;" (click)="bookAppointment(doctor.id)">BOOK APPOINTMENT</button>
  </div>
</div>

<br>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <footer class="footer-main bg-dark">
  <div class="container">
    <div class="row address-main">
      <div class="col-lg-4 col-sm-12 col-xs-12">
        <div class="address-box clearfix">
          <div class="add-icon">
            <i class="fa fa-home" style="color: white;"></i>
          </div>
          <div class="add-content">
            <h5>Address</h5>
            <p> Kovai Main Road, Coimbatore </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-xs-12">
        <div class="address-box clearfix">
          <div class="add-icon">
            <i class="fa fa-phone" style="color: white;"></i>
          </div>
          <div class="add-content">
            <h5>Phone</h5>
            <p>  +(91) 000000000 <br />
            +(91) 000000000  </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-xs-12">
        <div class="address-box clearfix">
          <div class="add-icon">
            <i class="fa fa-envelope" style="color: white;"></i>
          </div>
          <div class="add-content">
            <h5>Email</h5>
            <p> <a href="mailto:" style="text-decoration:none">medico@gmail.com</a> </p>
          </div>
        </div>
      </div>
    </div>
</div>


<footer class="bg-dark text-center text-white">

<div class="container p-4 pb-0">

  <section class="mb-4">

    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fa fa-facebook-f"></i></a>

 
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fa fa-twitter"></i
    ></a>

   
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fa fa-google"></i
    ></a>

 
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fa fa-instagram"></i
    ></a>

  </section>

</div>

<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
medico © 2023 All Rights Reserved.
</div>
</footer>
</footer>


