<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h1>Add Course</h1>
        <form [formGroup]="studentForm" (ngSubmit)="addStudent()" class="needs-validation custom-form" enctype="multipart/form-data">
        
<div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" formControlName="name" id="name" class="form-control" placeholder="Enter name" required>
    <div class="text-danger" *ngIf="studentForm.get('name')?.errors?.['required']">Please enter name.</div>
  </div>

  <div class="mb-3">
    <label for="imageFile" class="form-label">Course Image</label>
    <input type="file" (change)="onFileSelected($event)" formControlName="imageFile" accept="image/*" id="imageFile" required>
    <div class="text-danger" *ngIf="studentForm.get('imageFile')?.errors?.['required']">Please select an image file.</div>
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <textarea formControlName="email" id="email" class="form-control" placeholder="Email" required></textarea>
    <div class="text-danger" *ngIf="studentForm.get('email')?.errors?.['required']">Please enter the email.</div>
  </div>

  <div class="mb-3">
    <label for="role" class="form-label">Role</label>
    <input type="text" formControlName="role" id="role" class="form-control" placeholder="Role" required>
    <div class="text-danger" *ngIf="studentForm.get('role')?.errors?.['required']">Please enter the course type.</div>
  </div>

  <div class="mb-3">
    <label for="passwordClear" class="form-label">Password</label>
    <input type="text" formControlName="passwordClear" id="passwordClear" class="form-control" placeholder="Password" required>
    <div class="text-danger" *ngIf="studentForm.get('passwordClear')?.errors?.['required']">Please enter the course duration.</div>
  </div>

  <!-- <div class="mb-3">
    <label for="courseOverview" class="form-label">Course Overview</label>
    <input type="text" formControlName="courseOverview" id="courseOverview" class="form-control" placeholder="Enter" required>
    <div class="text-danger" *ngIf="studentForm.get('courseDuration')?.errors?.['required']">Please enter the course duration.</div>
  </div> -->
  
  
          <button type="submit" class="btn btn-primary">Add Course</button>
        </form>
      </div>
    </div>
  </div>

 