<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">MEDICO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/admin" routerLinkActive="active">Approval Request</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/manage" routerLinkActive="active">Manage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/login" routerLinkActive="active">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  
  <br>
  <br>
<h2>Doctors</h2>
<table class="table">
  <thead>
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Specialization</th>
          <th scope="col">Delete</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doctor of doctors">
      <td class="vertical-align">{{ doctor.id }}</td>
      <td>
        <div class="image-container">
          <img [src]="doctor.image" class="card-img-top" alt="Doctor Image">
        </div>
      </td>
      <td class="vertical-align">{{ doctor.name }}</td>
      <td class="vertical-align">{{ doctor.email }}</td>
      <td class="vertical-align">{{ doctor.role }}</td>
      <td class="vertical-align">{{ doctor.specialization_name }}</td>
      <td class="vertical-align">
        <button (click)="deleteDoctor(doctor.id)" class="btn btn-danger" id="delete">Delete</button>
      </td>
      <td>
        <button (click)="openUpdateForm(doctor)" class="btn btn-info" id="upd">Update</button>
    </td> 
    </tr>

      </tbody>
</table>

<h2>Users</h2>
<table class="table">
  <thead>
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Delete</th>
         
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of users">
       
          <td class="vertical-align">{{user.id}}</td>
          <div class="image-container">
            <img [src]="user.image" class="card-img-top" alt="Doctor Image">
          </div>
          <td class="vertical-align">{{user.name}}</td>
          <td class="vertical-align">{{user.email}}</td>
          <td class="vertical-align">{{user.role}}</td>
          <td class="vertical-align">
            <button (click)="deleteUser(user.id)" class="btn btn-danger" id="delete">Delete</button> 
        </td>
       
                   
      </tr>

      </tbody>
</table>



<div class="container">
  <form *ngIf="isUpdateFormOpen" class="border border-gray" id="form1">
      <table>
          
      <tr class="form-group" >
        <td>  <label for="studid"> Id : </label></td>
        <td>  <input type="text" id="id" class="form-control"
          name="studid" [(ngModel)]="id"></td>
      </tr>
      <tr class="form-group" >
        <td>  <label for="studname"> Name : </label></td>
        <td>  <input type="text" id="studname" [(ngModel)]="student.name" class="form-control"
          [ngModelOptions]="{standalone: true}"></td>
      </tr>
      <tr class="form-group" >
         <td> <label for="studcity"> Email : </label></td>
        <td>  <input type="text" id="studcity" [(ngModel)]="student.email" class="form-control"
          [ngModelOptions]="{standalone: true}"></td>
      </tr>
      <tr class="form-group" >
         <td> <label for="studpin">Role : </label></td>
        <td>  <input type="text" id="studpin" [(ngModel)]="student.role" class="form-control"
          [ngModelOptions]="{standalone: true}"></td>
      </tr>

      <div class="form-group">
        <input type="file" class="form-control-file" id="image" (change)="onFileSelected($event)" accept="image/*" required>
      </div>
      <tr class="form-group" >
          <td> <label for="studpin">Specialization : </label></td>
         <td>  <input type="text" id="studpin" [(ngModel)]="student.specialization_name" class="form-control"
           [ngModelOptions]="{standalone: true}"></td>
       </tr>
      <tr class="form-group" >
          <input type="button" value="Update" class="btn btn-success" (click)="UpdateStudentById()"  id="update">
      </tr>
      </table>
  </form>
  
  </div>


