<header class="header">
    <div class="container-fluid d-flex">
        <div class="ml-auto mx-5">
            <img src="../../assets/steth.jpg" class="img-circle" alt="Cinque Terre" width="170px" style="border-radius: 50%;">
          </div>
          <div class="col mt-5">
      <div class="row">
        <h1>MEDICO MEDICAL CENTRE AND HOSPITAL</h1>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
            <hr class="w-25">
          </div>
    </div>
    <div class="row">
        <p class="para">“In the best care at this world-class hospital.”</p>
      </div>
    </div>
    </div>
  </header>
  